body {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 10px;
}
ol {
  border-right: 1px solid gray;
  text-align: left;
  width: 100px;
  margin: 0;
  padding: 20px;
  margin-left: 20px;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
#grid ol {
  padding-left: 30px;
}
#article {
  padding-left: 5px;
}
@media (max-width: 800px) {
  #grid {
    display: block;
    grid-template-columns: 200px 1fr;
  }
  ol {
    border-right: none;
    text-align: left;
    width: 100px;
    margin: 0;
    padding: 20px;
    margin-left: 20px;
  }
  h1 {
    border-bottom: none;
  }
}
